{% extends 'bootstrap/base.html' %}
{% block content %}
	<title>Recommendation</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <style rel="stylesheet" type="text/css" media="screen">
        body {
            background: #0260AA;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, rgba(27, 175, 179, 0.4), #046BA6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, rgba(27, 175, 179, 0.4), #046BA6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
<body>
<!-- Navigation bar -->
    <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
        <a class="navbar-brand" href="{{ url_for('home')}}">Daisy E-Learning Platform</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="{{ url_for('signup')}}">Sign Up</a>
              <a class="nav-item nav-link" href="{{ url_for('login')}}">Sign in</a>
              <a class="nav-item nav-link disabled" href="{{ url_for('admin')}}">Admin</a>
            </div>
          </div>
    </nav>

<div id="about" class="offset">
    <div class="container-fluid">
        <div class="row jumbotron jumbotron-fluid">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-12 text-center">

                <h2 class="display-4">MOOC Completion Rate Recommendation</h2>

                <p class="lead">The goal of the recommender system is to predict the <em>students</em> who would likely drop out or finish their online courses
                    based on the student's information such as age, number of previous attempts and other factors.
                </p>
            <p class="lead">
                <a class="btn btn-outline-primary btn-lg" href="{{ url_for('home') }}" role="button">Log Out</a>
            </p>
            </div>
        </div>
    </div>

    </div>




</body>
{% endblock %}