{% extends 'bootstrap/base.html' %}
{% block content %}
    <meta charset="UTF-8">
    <title>Title</title>
<body>
<!-- Navigation bar -->
    <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
        <a class="navbar-brand" href="{{ url_for('home')}}">Daisy E-Learning Platform</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="{{ url_for('home')}}">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="{{ url_for('signup')}}">Sign Up</a>
              <a class="nav-item nav-link" href="{{ url_for('login')}}">Sign in</a>
              <a class="nav-item nav-link disabled" href="{{ url_for('admin')}}">Admin</a>
            </div>
          </div>
    </nav>
<h2>
    We'll get back to you as soon as possible
</h2>
<div>
    {% if prediction == 1%}
    <p>Dropout</p>
    {% endif %}
</div>
    <a href="{{ url_for('home')}}">Logout</a>


</body>
{% endblock %}